* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #fcf8f8;
  overflow: hidden;
}
nav {
  width: 100%;
  height: 10%;
  background-color: #ab8f8f;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}
.container {
  display: flex;
  justify-content: space-between;
  margin: 0 15% 0 15%;
}
.brand {
  display: flex;
  align-items: flex-end;
}
.brand a {
  text-decoration: none;
  color: black;
  margin: 18px 0 0 0;
}
button {
  margin: 18px 5px 0 5px;
  width: 120px !important;
  height: 40px;
  background-color: #c4c4c4;
  border: none;
  border-radius: 20px;
  text-align: center;
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
}
button:focus {
  outline: none;
}
button:hover {
  background-color: #8a0e0e;
  color: #c4c4c4;
  transition: 0.5s;
}
#pocetna {
  margin-right: 15px;
}
.wrapper-container {
  width: 100%;
  height: 88%;
  overflow-y: scroll;
}
#wrapper {
  width: 70%;
  margin: 0 15% 0 15%;
  padding: 20px 0 20px 0;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.knjiga-okvir {
  width: 100%;
  padding: 20px 0 20px 0;
}
.knjiga-fotografija {
  text-align: center;
}
.knjiga-fotografija img {
  width: 250px;
  border-radius: 5px;
  padding: 0 auto 0 auto;
}

.knjiga-info {
  width: 250px;
  margin: 0 auto 0 auto;
  padding-top: 10px;
}
.okvir {
  text-decoration: none;
  color: black;
  transition: 0.5s;
  border-radius: 10px;
}
.okvir:hover {
  color: #8a0e0e;
  box-shadow: 0px 1px 3px 0px gray;
}
img:hover {
  opacity: 0.9;
  transition: 0.5s;
  z-index: 1;
}
footer {
  height: 2%;
  background-color: #ab8f8f;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

#Knjiga {
  height: 88%;
  margin: 0 15% 0 15%;
  padding-top: 7%;
}
.single-book-okvir {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 3px 0px gray;
  display: flex;
}

.single-book-photo img:hover {
  opacity: 1;
}

.single-book-info {
  padding-left: 20px;
}
.single-book-info #opis {
  text-align: justify;
}
.single-book-button,
#kosarica-naruci {
  margin: 18px 5px 0 5px;
  width: 120px !important;
  height: 40px;
  background-color: #8a0e0e;
  border: none;
  border-radius: 20px;
  border-top-right-radius: 0;
  text-align: center;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
}
#kosarica-naruci {
  margin: 0 !important;
}
#ukupno-kosarica {
  margin: 0 30px 0 0;
  padding-top: 10px;
  width: 160px !important;
  height: 40px;
  background-color: #c4c4c48f;
  border: none;
  border-radius: 20px;
  text-align: center;
  color: black;
  text-decoration: none;
  cursor: default;
  font-weight: 700;
}
.single-book-button:hover {
  background-color: #c4c4c48f;
  color: black;
  transition: 0.5s;
}
#kosarica-naruci:hover {
  background-color: #c4c4c48f;
  color: black;
  transition: 0.5s;
}
.single-book-up {
  height: 50%;
}
.single-book-up #opis,
#autor {
  padding-top: 20px;
}
.single-book-add {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.single-book-okvir #cijena,
.single-book-okvir form .kolicina {
  background-color: #c4c4c48f;
  color: black;
  margin: 18px 5px 0 5px;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  padding-top: 10px;
  outline: none;
}
.single-book-okvir form {
  display: flex;
  height: 40px;
  margin: 18px 5px 0 5px;
}

.single-book-okvir form .kolicina {
  background-color: #c4c4c48f;
  color: black;
  margin: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.single-book-okvir form select {
  background-color: #c4c4c48f;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 16px;
}
.single-book-okvir form select option {
  font-size: 16px;
}

.wrapper-kosarica,
.wrapper-narudzba {
  height: 88%;
  padding-top: 20px;
}
#tabela-kosarica {
  width: 70%;
  margin: 0 15% 0 15%;
  padding: 20px 0 20px 0;
}
.tabela-narudzba {
  width: 70%;
  margin: 0 15% 0 15%;
  padding: 0 0 20px 0;
  height: 288px;
  overflow-y: auto;
}
#tabela-narudzba {
  width: 100%;
}
th,
td {
  width: 100px;
  border: 1px solid black;
  text-align: center;
  border-radius: 2px;
}
#kosarica-naruci {
  float: right;
  margin: 0 15% 20px 0;
}
.wrapper-narudzba #forma {
  margin: 0 15% 0 15%;
  padding-top: 20px;
}
.wrapper-narudzba #forma label,
.wrapper-narudzba #forma input {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.slicica-tabela {
  width: 100px;
  border-radius: 5px;
  padding: 5px 0 5px 0;
}
.error {
  color: red;
}
img {
  border-radius: 10px;
}
#ukupno {
  visibility: hidden;
}
.kosarica-dugmad {
  margin: 0 15% 0 15%;
  display: flex;
  float: right;
}
#kosarica-dugme {
  position: relative;
}
#kosarica-dugme span {
  background-color: #8a0e0e;
  color: white;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -2px;
  right: -2px;
}
